h1 {

}

.lightbox-gallery a {
  text-decoration: none;
}

.lightbox-gallery img {
  border: 10px solid #896036;
  padding: 4px;
}

.lightbox-gallery img:hover {
  box-shadow: 3px 3px 3px #888;
}

body {
  background-color: #fff;
  font-family: 'Port Lligat Slab', serif;
}

span {
  font-family: 'Port Lligat Slab', serif;
}

h1 {
  font-family: 'Port Lligat Slab', serif;
}
